.home_container{
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.offer_container{
  align-self: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.diskLogo{
  max-width: 370px;
  max-height: 378px;
}
.offer_title{
  max-width: 502px;
  font-size: 37px;
  line-height: 47px;
}
Button{
  margin-top: 35px;
  width: 270px;
  height: 59px;

  background: linear-gradient(97.86deg, #4B47F9 25.11%, #484FF9 44.04%, #2F86F4 74.89%);
  box-shadow: 0px 4px 50px #3E66F8;
  border-radius: 20px;
}