@import "../../utils/colors.scss";

.disk {
  cursor: default;
  color: white;
  margin-top: 40px;
  width: 100%;
  height: 100vh;
  margin-bottom: 20px;

  &_btns {
    display: flex;

    button {
      cursor: pointer;
      color: white;
      background: none;
      border-radius: 20px;
      border: 1px solid white;
      padding: 5px 10px;
      font-size: 15px;
      margin-right: 10px;
    }
  }

  &_upload {
    display: flex;
  }

  &_upload-input {
    display: none;
  }

  &_upload-label {
    cursor: pointer;
    align-self: center;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 15px;
  }
}

.dragArea {
  color: white;
  font-size: 20px;
  border: 1px white dashed;
  width: 100%;
  height: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;


  &_content {
    color: black;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;

    display: flex;
    flex-direction: column;
  }

  &_header {
    display: flex;
    justify-content: space-between;
  }

  button {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    align-self: flex-end;
    cursor: pointer;
  }

  &_close {
    color: crimson;
  }

  &_create_button {
    color: #1478dc;
  }

  input {
    border: 1px solid crimson;
    width: 100%;
    height: 35px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 15px;
  }

  input::placeholder {
    font-size: 14px;
  }
}
